<div class="gallery__container">
  <h2 class="visually-hidden">Gallery</h2>
  <ul class="gallery__list" id="galleryContainer">
    <!-- Список <li> с карточками изображений -->
    <li class="gallery__item">1</li>
    <li class="gallery__item">2</li>
    <li class="gallery__item">3</li>
    <li class="gallery__item">4</li>
    <li class="gallery__item">5</li>
    <li class="gallery__item">6</li>
    <li class="gallery__item">7</li>
    <li class="gallery__item">8</li>
    <li class="gallery__item">9</li>
    <li class="gallery__item">10</li>
  </ul>
</div>
